body {
    font-family: Arial;
    margin: 0;
    background-color: #162030;
    -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
    zoom: 0.75; /* Other non-webkit browsers */
    zoom: 75%; /* Webkit browsers */
}

.bar {
    position: relative;
    width: 100%;
    height: 120px;
    background: #162030;
    box-shadow: 0px 15px 15px rgba(156, 156, 156, 0.4);
}
  
.year {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.year h1 {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 1;
    color: #458DFC;
    padding-left: 28px;
}
  
.logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.logo img {
    height: 60%;
    max-width: 100%;
    padding-right: 28px;
}
  
.hero {
    position: relative;
    width: 100%;
    height: 600px;
}

.backgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/pexels-markus-spiske-965345.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

.leftgroup {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    flex-direction: column;
}
    
.elipse {
    display: block;
    box-sizing: border-box;
    
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%; /* Set the left property to 50% to center horizontally */
    top: 50%; /* Set the top property to 50% to center vertically */
    transform: translate(-50%, -50%); /* Add this property to adjust the position */
    
    background: #A3E4A3;
    opacity: 0.65;
    border: 1px solid #000000;
    filter: blur(75px);
    z-index: 1;
}

.leftgroup img {
    height: 75%;
    z-index: 2;
}

.rightgroup {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    flex-direction: column;
  }
  
.rightgroup h1 {
    display: block; /* Add this property to stack the headings vertically */


    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    margin-top: -20px;

    color: #FFFFFF;

    text-shadow: 0px 2px 16px #A3E4A3;
}
  
.rightgroup h2 {
    display: block; /* Add this property to stack the headings vertically */


    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 70px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 2px 16px #A3E4A3;
}

#countdown {
    display: block; /* Add this property to stack the headings vertically */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 70px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 2px 16px #A3E4A3;
}

.services{
    position: relative;
    background: #162030;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; 
}

.card {
    height: 450px;
    width: 300px;
    padding: 20px 35px;
    background: #A3E4A3;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform .4s;
}

.card:hover {
    transform: scale(1.02) !important;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #162030;
}

.card h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #458DFC;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #458DFC;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.card .button:hover {
    background-color: #2E64D6;
}

.rightgroup .button {
    background-color: #458DFC;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.rightgroup .button:hover {
    background-color: #2E64D6;
}

.theme {
    position: relative;
    background: #162030;
    width: 100%;
    padding: 100px 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.theme img {
    width: 60%;
    z-index: 2;
}

.tcard {
    height: 900px;
    width: 690px;
    padding: 20px 35px;
    background: #A3E4A3;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform .4s;
}

.tcard:hover {
    transform: scale(1.02) !important;
}

.tcard i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #162030;
}

.tcard h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.tpra p {
    color: #458DFC;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.tcard .button {
    background-color: #458DFC;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.tcard .button:hover {
    background-color: #2E64D6;
}

.faq-section {
    border-radius: 20px;
    width: 80%;
    background-color: #A3E4A3;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start; /* This will make sure the columns are aligned at the top */
    flex-wrap: wrap; /* This will allow the columns to wrap to the next line if there is not enough space */
  }
  
  .faq-column {
    text-align: center;
    color: #2E64D6;
    font-family: 'Arial';
    width: 40%; /* Decrease the width to make room for both columns */
    margin: 0 2.5%; /* Add margin to create some space between the columns */
  }

  .faq-column h3{
    color: #2E64D6;
    font-size: 23px;
    margin-bottom: 15px;
  }
  
  .faq-column summary{
    color: #2E64D6;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .faq-column details{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  
  
.faq-column:last-child {
    padding-right: 0;
}
  
.faq-column h3 {
    margin-top: 0;
}
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

details summary::-webkit-details-marker {
    display: none;
}
  
details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid white;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}
  
details summary:after {
    content: "+";
    color: white;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
}

details summary {
    outline: 0;
}

details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}
  
.footer__container {
    background-color: #162030;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    font-family: 'Arial';
    font-weight: 500;
    color: #234c8a;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .social__icon__link {
    color: #234c8a;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1300px;
    width: 100%;
  }
  
  .social__media__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 5px auto 5px auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .social__icons a:hover {
    color: #7ac6d6;
  }
  
  .website__rights {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #234c8a;
  }
  
  @media screen and (max-width: 820px) {
    #footer__logo {
      margin-bottom: 1rem;
    }
  
    .website__rights {
      margin-bottom: 1rem;
    }
  
    .social__media__wrap {
      flex-direction: column;
    }
  }