@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,500;0,800;1,800&family=Playfair+Display:ital,wght@1,800&display=swap');

body {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*Navbar*/
.nav_container {
    background: #ffffff;
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 0px 5px #131313);
    z-index: 1;
    width: 100%;
}

.nav_menu{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.nav_item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.nav_drop {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    display: inline-block;
}
  
.nav_drop .dropbtn {
    background-color: #ffffff;
    color: #234c8a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.nav_drop .dropbtn:hover {
    color: #7ac6d6;
}
  
  .nav_drop .dropbtn i {
    float: right;
    margin-top: 3px;
    margin-left: 4px;
  }
  
  .nav_drop .drop_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .nav_drop .drop_content a {
    color: #234c8a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav_drop .drop_content a:hover {
    background-color: #f1f1f1;
    color: #7ac6d6;
  }
  
  .nav_drop:hover .drop_content {
    display: block;
  }

.nav_links {
    color: #234c8a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.75rem;
    height: 100%;
}

.nav_links:hover {
    color: #7ac6d6;
    transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
    .nav_menu {
        display: grid;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav_menu.active {
        background: #f5f6f8;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 70vh;
        font-size: 1.6rem;
    }

    .nav_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #234c8a;
    }

    .nav_links {
        text-align: center;
        padding: 10px;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_drop {
        display: inline-block;
        text-align: center;
    }
      
    .nav_drop .dropbtn {
        background-color: #f5f6f8;
        color: #234c8a;
        font-size: 1.6rem;
    }

    .nav_drop .drop_content {
        position: relative;
      }
}

/*Hero*/
.hero-image {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
  
.hero-text {
    position: absolute;
    text-align: center;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;
}

.hero-text h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.hero-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-text h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

@media (max-width: 1300px) {
    h3 {
        display: none;
    }
}

@media (max-width: 600px) {
    h1, h2, p {
        display: none;
    }

    h3 {
        display: contents;
    }
}

.pres_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
  
.pres_item {
    max-width: 40%;
    flex-basis: 40%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: #234c8a;

}

.pres_img {
    margin-top: 15%;
    text-align: center;
}

.pres_img img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 80%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
  
.pres_content h1 {
    text-align: center;
}
  
@media screen and (max-width: 768px) {

    .pres_container {
      flex-direction: column;
    }
    
    .pres_item {
      max-width: 100%;
    }

    .pres_content h1 {
        text-align: center;
        display: block;
    }

    .pres_content p {
        text-align: left;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
    

    .pres_img h1 {
        text-align: center;
        display: block;
    }
      
    .pres_img img {
      width: 75%;
    }

}
  
.hist_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    color: #234c8a;
}
  
.hist_item {
    max-width: 40%;
    flex-basis: 40%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.hist_img {
    margin-top: 15%;
    text-align: center;
}

.hist_img img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 80%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
  
.hist_content h1 {
    text-align: center;
}
  
@media screen and (max-width: 768px) {

    .hist_container {
      flex-direction: column;
    }
    
    .hist_item {
      max-width: 100%;
    }

    .hist_content h1 {
        text-align: center;
        display: block;
    }

    .hist_content p {
        text-align: left;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
      
    .hist_img img {
      width: 75%;
    }

}

.dei_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    color: #234c8a;
}
  
.dei_item {
    max-width: 60%;
    flex-basis: 60%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
  
.dei_content h1 {
    text-align: center;
}
  
@media screen and (max-width: 768px) {

    .dei_container {
      flex-direction: column;
    }
    
    .dei_item {
      max-width: 90%;
    }

    .dei_content h1 {
        text-align: center;
        display: block;
    }

    .dei_content p {
        text-align: left;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
      
}

.pillar_title h1 {
    text-align: center;
    color: #234c8a;
}

.pillars-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.pillar_card {
    width: 300px;
    height: 350px;
    margin: 20px;
    background-color: #7ac6d6;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.pillar_card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.pillar_card h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pillar_card p {
    max-width: 80%;
    text-align: left;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pillar_card i {
    font-size: 4.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .pillars-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .pillar_title h1 {
        text-align: center;
        display: block;
    }

    .pillar_card i {
        font-size: 3rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .pillar_card h2 {
        display: flex;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .pillar_card p {
        display: flex;
        max-width: 80%;
        text-align: left;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.rush-image {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
  
.rush-text {
    position: absolute;
    text-align: center;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.rush-text h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;
}

.rush-text h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.rush-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
}

.rush-text h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

@media (max-width: 1300px) {
    h3 {
        display: none;
    }
}

@media (max-width: 600px) {
    h1, h2, p {
        display: none;
    }

    h3 {
        display: contents;
    }
}

.members_title h1 {
    color: #234c8a;
    text-align: center;
}

.members_title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.members-cards-container {
    color: #234c8a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* changed from center */
    align-items: flex-start; /* changed from center */
}

.members-cards-container a {
    color: #234c8a;
    text-decoration: none;
}

.member_card {
    width: 250px;
    height: 250px;
    margin: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* changed from center */
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.member_card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.member_card img:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.member_card:hover {
    transform: translateY(-10px);
}

.member_card h2 {
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.member_card p {
    max-width: 80%;
    text-align: left;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .members-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .members_title h1 {
        text-align: center;
        display: block;
    }

    .member_card i {
        font-size: 3rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .member_card h2 {
        display: flex;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .member_card p {
        display: flex;
        max-width: 80%;
        text-align: left;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.small-members-cards-container {
    color: #234c8a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* changed from center */
    align-items: flex-start; /* changed from center */
    margin-bottom: 30px;
}

.small-members-cards-container a {
    text-decoration: none;
    color: #234c8a;
}

.small_member_card {
    width: 150px;
    height: 150px;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* changed from center */
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.small_member_card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.small_member_card img:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.small_member_card:hover {
    transform: translateY(-10px);
}

.small_member_card h2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .small-members-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .small_members_title h1 {
        text-align: center;
        display: block;
    }

    .small_member_card h2 {
        display: flex;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

/*Footer*/
.footer_container {
    width: 100%;
    background-color: #ffffff;
    padding: 2rem 0;
}
  
.footer_logo_link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #234c8a;
    text-decoration: none;
    font-size: 2rem;
}
  
.social_icon_link {
    color: #234c8a;
    font-size: 24px;
}
  
.social_media {
    list-style: none;
}
  
.social_media_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 5px auto 5px auto;
}
  
.social_icons {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.social_icons a:hover {
    color: #7ac6d6;
    transition: all 0.3s ease;
}

.website_rights {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #234c8a;
}
  
@media screen and (max-width: 820px) {
    #footer_logo {
      margin-bottom: 1rem;
    }
  
    .website_rights {
      margin-bottom: 1rem;
    }
  
    .social_media_wrap {
      flex-direction: column;
    }
}